@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 5%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 5%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 5%;

    --primary: 348 85% 49%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96%;
    --secondary-foreground: 0 0% 5%;

    --muted: 0 0% 96%;
    --muted-foreground: 0 0% 45%;

    --accent: 0 0% 96%;
    --accent-foreground: 0 0% 5%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 92%;
    --input: 0 0% 85%;
    --ring: 0 0% 76%;

    --radius: 0.5rem;
  }
  
  .dark {
    --background: 0 3% 6%;
    --foreground: 0 0% 98%;

    --card: 330 6% 7%;
    --card-foreground: 0 0% 98%;

    --popover: 330 6% 7%;
    --popover-foreground: 0 0% 98%;

    --primary: 357 89% 57%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 5% 15%;
    --secondary-foreground: 0 0% 98%;

    --muted: 350 5% 22%;
    --muted-foreground: 0 5% 49%;

    --accent: 336 79% 12%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 5% 12%;
    --input: 0 4% 18%;
    --ring: 357 89% 40%;
  }
}
 
@layer base {
  * {
    @apply border-border;
    :focus-visible {
      @apply ring-1 ring-accent border-0 outline-none
    }
    /* :focus {
      @apply outline-none
    } */
  }
  body {
    @apply bg-background text-foreground;
  }
}