@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 0 8% 5%;

    --card: 0 0% 98%;
    --card-foreground: 0 8% 5%;

    --popover: 0 0% 98%;
    --popover-foreground: 0 8% 5%;

    --primary: 0 78% 59%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 7% 94%;
    --secondary-foreground: 0 8% 5%;

    --muted: 0 7% 94%;
    --muted-foreground: 0 6% 45%;

    --accent: 0 7% 94%;
    --accent-foreground: 0 8% 5%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 6% 90%;
    --input: 0 6% 83%;
    --ring: 0 24% 75%;

    --radius: 0.5rem;
  }
  
  .dark {
    --background: 0 3% 6%;
    --foreground: 0 0% 98%;

    --card: 0 6% 7%;
    --card-foreground: 0 0% 98%;

    --popover: 0 6% 7%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 78% 59%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 5% 15%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 5% 22%;
    --muted-foreground: 0 5% 49%;

    --accent: 0 45% 14%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 5% 12%;
    --input: 0 4% 18%;
    --ring: 0 78% 40%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}